<h1>  Reset Password </h1>

<%
if(typeof erroe !== 'undefined'){
    %>
    <h3 style="color:red"> <%= error %> </h3>
    <%
}
%>


<form action = "/reset-password?token= <%= resetData.token %>" method = "POST">
    <input type = "hidden" name = "user_id" value = "<%= resetData.user_id %>">
    <input type = "password" name = "password" placeholder = "Enter new password" required>
    <input type = "password" name = "c_password" placeholder = "Confirm new password" required>
    <br></br>
    <input type = "submit" value = "Reset Password">

</form>